body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header{
    text-align: center;
    color: dodgerblue;
    
}

section ul{
    columns: 2;
    column-gap: 40px;
}

section li{
    margin-bottom: 20px;
}

footer{
    text-align: center;
    color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section a{
    color: dodgerblue;
    text-decoration: none;
}

section p{
    margin-bottom: 15;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

